In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../source_files/sales_data.csv')

In [3]:
data.head(10)

     country  production  sales
0      INDIA         700    200
1        USA        5000   4200
2     RUSSIA        1000    400
3  AUSTRALIA         700    400
4      CHINA        2000   1400